.about {
  padding: 0 300px;
  padding-bottom: 50px;

  h1 {
    padding-top: 100px;
    font-size: 34px;
    letter-spacing: -0.68px;
    color: #3d3d3d;
    font-weight: 700;
    margin-bottom: 75px;
  }

  p {
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #3d3d3d;
    font-weight: 300;
    margin-bottom: 30px;
  }
}
