.calender-block {
  width: 40%;
  background-color: #272829;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;
  padding: 50px 0;
}

.calender {
  width: 60%;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    padding-bottom: 20px;
  }

  .data {
    text-transform: uppercase;
  }

  .left-arrow,
  .right-arrow {
    opacity: 0.67;
    cursor: pointer;
  }

  .week-days {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    color: #ffffff;
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    border-top: 1px solid rgba(255, 255, 255, 0.43);
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .day,
  .next-month-day,
  .prev-month-day {
    width: 11%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 1.6%;
  }

  .next-month-day,
  .prev-month-day {
    opacity: 0.24;
  }

  .day.today {
    background: #fdd000;
    box-shadow: 0px 0px 25px #0000000d;
    color: #3d3d3d;
    font-weight: 500;
  }

  .day:hover {
    border: 1px solid rgba(255, 255, 255, 0.43);

    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .calender {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .calender {
    width: 90%;

    .day,
    .next-month-day,
    .prev-month-day {
      height: 35px;
    }
  }
}

@media (max-width: 700px) {
  .calender-block {
    width: 100%;
  }

  .calender {
    width: 50%;

    .day,
    .next-month-day,
    .prev-month-day {
      height: 45px;
    }
  }
}
@media (max-width: 610px) {
  .calender {
    width: 50%;
    .calendar-header {
      font-size: 18px;
    }

    .day,
    .next-month-day,
    .prev-month-day {
      font-size: 13px;
    }

    .week-days {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {
  .calender {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .calender {
    width: 80%;

    .calendar-header {
      font-size: 15px;
    }

    .day,
    .next-month-day,
    .prev-month-day {
      font-size: 12px;
    }

    .week-days {
      font-size: 15px;
    }
  }
}
